<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        //IDStudent
        <div class="title">
            <h3>ID Student</h3>
        </div>
        <div class="textInput">
            <input type="number" id="idStudent" placeholder="Please enter the ID Student">
        </div>
        //IDStudent

        //Name Student
        <div class="title">
            <h3>Name Student</h3>
        </div>
        <div class="textInput">
            <input type="text" id="nameStudent" placeholder="Please enter the Name Student">
        </div>
        //Name Student

        //Email Student
        <div class="title">
            <h3>Email Student</h3>
        </div>
        <div class="textInput">
            <input type="text" id="nameStudent" placeholder="Please enter the Email Student">
        </div>
        //Email Student

        //Year Old
        <div class="title">
            <h3>Year Old</h3>
        </div>
        <div class="textInput">
            <input type="text" id="yearOld" placeholder="Please enter the Year Old">
        </div>
        //Year Old
    </div>
</body>
</html>